
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>First Instance Operation ID</th>
            <th>Second Instance Operation ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="background-color: lightgreen"> Transient </td>
            <td style="background-color: lightgreen">  @ViewBag.transient1 </td>
            <td style="background-color: lightgreen"> @ViewBag.transient2 </td>
        </tr>
        <tr>
            <td style="background-color: lightgoldenrodyellow">Scoped</td>
            <td style="background-color: lightgoldenrodyellow">@ViewBag.scoped1</td>
            <td style="background-color: lightgoldenrodyellow">@ViewBag.scoped2</td>
        </tr>
        <tr>
            <td style="background-color: lightskyblue"> Singleton </td>
            <td style="background-color: lightskyblue"> @ViewBag.singleton1  </td>
            <td style="background-color: lightskyblue"> @ViewBag.singleton2  </td>
        </tr>
    </tbody>
</table>